<p><%= link_to 'Ask question', new_question_path %></p>


<% @questions.each do |question| %>
    <table>
      <tr>
        <td> <%= link_to "#{question.title}", question %></td>
        <td> <%= link_to  'remove', question, method: :delete,
                          data: {confirm: 'Хотите удалить вопрос?'} if question.user == current_user %></td>
      </tr>


    </table>
<% end %>