<p>Question:</p>


<h3>topic:</h3>
<p><%= @question.title %></p>
<h3>text of the question:</h3>
<p><%= @question.body %></p>

<div class="answers">
<%= render 'answers/answers_list'%>
</div>

<div class="answer">
</div>


<p><%= render 'answers/form', question: @question, answer: @answer %></p>

