<p>
  <%= answer.body %> <br/>
  <%= answer.user.email %>
  <% if current_user && current_user.author_of?(answer) %>
      <%= link_to 'remove', answer, method: :delete, data: {confirm: 'Хотите удалить ответ?'} %>
  <% end %>
</p>



