<%= form_for [question, answer], remote: true do |f| %>
    <div id="answer_errors"></div>

    <div class="field">
      <%= f.label :body, 'You Answer:' %> <br/>
      <%= f.text_area :body, id: 'new_answer_body',  placeholder: 'write answer' %>
    </div>

    <div class="actions">
      <%= f.submit 'Create' %>
    </div>
<% end %>
