// Place all the styles related to the Answers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
form.edit_answer{
  display: none;
}
.answer_body_existed{
 color: rgba(35, 36, 37, 0.92);
}

div.best_answer .answer .answer_best_link{
  display: none;

}
.answer_edit_form_box{
  margin-left: 4%;
  //margin-top: 25px;
}

.answer_errors {
  width: 450px;
  height: 50px;
  color: rgba(255, 20, 148, 0.53);
  //border: solid 1px;
  z-index: 1000;
}

#answer_body_new{
  min-height: 200px;
}