footer{
  position: fixed;
  top: 97%;
}

form textarea {
min-height: 100px;
  resize: none;
}

a, a:visited {
  text-decoration: none;
  color: #6f9a91;
}

a:hover {
  box-shadow: 0 0 1px;
  color: #49655c;

}



img{
  width: 200px;
}


.chek {
  border: solid 1px blue;
}

hr{
  color: #3071a9;
}

.nav_links{
  width: 120px;
  height: 120px;
  border: solid 1px rgba(179, 179, 179, 0.37);
  border-radius: 50%;
  background-color: white;
  color: rgba(66, 139, 202, 0.59);
  box-shadow: 0 0 2px;

}

.sidebar-nav{
  margin-left: 25%;
}