.answer_rating, .question_rating {
  margin-left: 5%;
  margin-top: 25px;
  display: block;
  padding: 0;
  width: auto;
  height: auto;
}

.glyphicon-chevron-down, .glyphicon-chevron-up {
  color: #b3b3b3;
}

.rating_result {
  width: 26px;
  height: 24px;
  color: rgba(78, 90, 104, 0.85);
  font-size: larger;
}

.opinion_button {
  margin-left: -5%;
}

