// Place all the styles related to the Opinions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.answer_rating, .question_rating {
  margin-left: 5%;
  margin-top: 25px;
  display: block;
  padding:  0;
  width: auto;
  height: auto;
}



.rating_result {
  width: 24px;
  height: 24px;
  color: #3071a9;

}

.opinion_button {
  width: 30px;
  height: 30px;
  margin: auto;

}

